@import "../../../styles/variables.scss";

form {

    img {
        width: 24px;
        height: 24px;
    }
    width: 100%;
    display: flex;
    flex-direction: column;  
    margin-bottom: 34px;
}