<app-default-login-layout
    title="Create your account"
    primaryBtnText="Signup Now"
    secondaryBtnText="Login Now"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!signupForm.valid"
>
    <form [formGroup]="signupForm">
        <app-primary-input
             formControlName="name"
            inputName="name"
            type="text"
            label="Your name"
        >
            <img src="/assets/svg/email-icon.svg" alt="">
        </app-primary-input>
        <app-primary-input
             formControlName="email"
            inputName="email"
            type="email"
            label="Email"
            placeholder="example@email.com"
        >
            <img src="/assets/svg/email-icon.svg" alt="">
        </app-primary-input>
        <app-primary-input
            formControlName="password"
            inputName="password"
            type="password"
            label="Your Password"
        >
            <img src="/assets/svg/password-icon.svg"/>
        </app-primary-input>
        <app-primary-input
            formControlName="passwordConfirm"
            inputName="passwordConfirm"
            type="password"
            label="Confirm your Password"
            >
            <img src="/assets/svg/password-icon.svg"/>
        </app-primary-input>
    </form>
</app-default-login-layout>
